.r, .g, .b {
    width: 150px;height: 150px;
    
    position:absolute;
    transition: left 150ms, top 150ms;
}
.r{
    background-color: red;
    left: 500px;top: 100px; 
    /*border-width: 15px;
    border-style: solid;
    border-color: orange;
    */
}
.g{
    background-color: green;
    left: 500px;top: 300px; 
}
.b{
    background-color: blue;
    left: 500px;top: 500px; 
}